/node_modules
/data
/public/hot
/public/materi
/public/file_temp
/public/storage
/public/storage/framework/laravel-excel
/storage/framework/laravel-excel/*.key
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/assets/banksoal
