
  /*---------------------------------------
    BUTTON ON TOP
  -----------------------------------------*/


  .rounded-circle {
    border-radius: 50% !important
}

  #scrollTop {
    display: block;
    position: fixed;
    bottom: 230px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #299abd;
    color: #e6ebee;
    cursor: pointer;
    height: 50px;
    width: 50px;
    opacity: 1;
    transition: all 0.3s ease;
  }

  #scrollTop:hover {
    background-color: #d46922;
    opacity: 1;
  }

  #arrow{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: block;
}

/* formcari */

.form-control2 {
    border: 0;
}
input[readonly]{
  background-color:transparent;
  border: 0;
  font-size: 1em;
}
.babeng-select2{
  width: 200px;
  height: 200px;
}
.babeng-select{
  position: relative;
  width: 200px;

}
.babeng{
  width:150px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  outline:none;
  padding: 6px;
}

.th-table{
    width: 500px;
}
.babengcontainer{

    margin-right: 20px;
    margin-left: 20px;
    /* overflow: scroll; */
        display: block;
        max-width: 100%;
    overflow-x: scroll;
    /* overflow-wrap: break-word; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.babeng-min-row{
    width: 1%;
    white-space: nowrap;
}

#babengcardDate{
    /* overflow-x: scroll; */
    overflow-x: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0px;
    /* background-color: red; */
    /* width: auto; */
}
.babeng-td{

    /* position: absolute; */
}
.babenginputnilai{
  width:35px;
  border-radius: 0px;
  background: #fff;
  border: 0px solid #ccc;
  outline:none;
  padding: 0px;
}

.babeng:focus{
  border:1px solid #56b4ef;
  box-shadow: 0px 0px 3px 1px #c8def0;
}

#babeng-bar {
    width: 100%;
    /* height: 45px; */
    overflow: hidden;
    padding-bottom: 0px;
}

#babeng-bar span {
    height: 100%;
    display: inline;
    overflow: hidden;
    padding-left: 0px
}

#babeng-row {
    /* position: relative; */
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline;
}

#babeng-form{
    /* position: fixed; */
}

#babeng-submit {
    height: 35px;
}
